body, html {
    padding: 0;
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: Roboto, sans-serif; /*seems to work w/o quotes? */
}

header {
    background-color: #57F3F5;
    color: #ADAFFF;
    padding: 20px;
}

h1 {
    margin: 0;

}



.main-text {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.block {
    min-height: 200px;
    float: left;
}

.first, .third {
    width: 25%;
    background-color: #F5DEA6;
}

.second {
    width: 46%;
    background-color: #E7A9E8;
}

.bold {
    font-weight: bolder;
    color: white;

}